
@using System.Globalization;
@model BusinessEntity.CustomModels.POCombo_CM
<div>
    <input id="germanformat" style="display:none;" value="@Model.POHeader[0].PO_Code" />

    <table style="width:100%;">
        <tr>
            <td style="width:30%;text-align:left;"></td>
            <td style="width:40%;text-align:center;"><img src="@Model.POHeader[0].imgurl" /></td>
            <td style="width:30%;text-align:left;"></td>
        </tr>
    </table>
    <div id="tblprintpdf" style="width:100%;">
        <table style="width:100%;">
            <tr>
                <td style="text-align:center;"><h1 style="font-size:18px"><label><strong><u>Auftragsbestätigung</u></strong></label></h1></td>
            </tr>
        </table>
        <table style="font-weight: 600;" class='generaltable'>

            <tr>
                <td><u>Eurotextiles GmbH & Co. KG, Mammolshainer Weg 14, 61462 Königstein</u></td>
            </tr>
            <tr>
                <td><strong>@Model.POHeader[0].SUPPLIER_NAME</strong></td>
            </tr>
            <tr>
                <td>@Model.POHeader[0].Street</td>
            </tr>
            <tr>
                <td>@Model.POHeader[0].CityState</td>
            </tr>
            <tr>
                <td>@Model.POHeader[0].CountryZip</td>
            </tr>

        </table>
        <table align="right" style="text-align:right" class='generaltable'>
            <tr>
                <td></td>
                <td></td>
                <td>Kunde Nr:</td>
                <td><strong>@Model.POHeader[0].PO_CutomerID</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Bearbeitet von:</td>
                <td><strong>@Model.POHeader[0].salesPersonName</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Datum:</td>
                <td><strong>@((Model.POHeader[0].PO_Date).ToString("dd-MM-yyyy"))</strong></td>
            </tr>
            @*<tr>
            <td></td>
            <td></td>
            <td>Kundenbestellung Nr:</td>
            <td><strong>@Model.POHeader[0].PO_CusPONO</strong></td>
        </tr>*@
            <tr>
                <td></td>
                <td></td>
                <td>Bestätigung Nr:</td>
                <td><strong>@Model.POHeader[0].PO_Code</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Kaufvertrag Nr:</td>
                <td><strong>@Model.POHeader[0].PO_SCNo</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Kaufvertragsdatum:</td>
                <td><strong>@((Model.POHeader[0].PO_SCDate).ToString("dd-MM-yyyy"))</strong></td>
            </tr>
        </table>
        @*<table style="width:100%;text-align:left;" class='generaltable'>
                <tr>
                    <td><strong>Customer Order No: @Model.OHeader[0].SO_Code</strong></td>
                    <td></td>
                </tr>
            </table>*@
        <table border="1" style="width:100%;" align="center" class='generaltable'>
            <thead>
                <tr>
                    <th style="text-align:center"><strong>Pos</strong></th>
                    <th style="text-align:center" colspan="2"><strong>Menge</strong></th>
                    <th style="text-align:center"><strong>Produktbeschreibung</strong></th>
                    <th style="text-align:center"><strong>Designen</strong></th>
                    <th style="text-align:center"><strong>Anmerkungen</strong></th>
                    <th style="text-align:center"><strong>Einzelpreis(€)</strong></th>
                    <th style="text-align:center"><strong>Gesamtpreis(€)</strong></th>

                </tr>

            </thead>
            <tbody>
                @{
                    //int i = 1;
                    decimal total = 0;
                    var modelItems = Model.PODetails.AsEnumerable().Select((orderItem, index) => new { SO_Serial = index + 1, orderItem.PD_Quantity, orderItem.PD_UnitPrice, orderItem.PD_UOM,orderItem.PD_UOMCode, orderItem.PD_ShortName, orderItem.DesignDetail, orderItem.CustomerDesc });
                    //var vatPercObj = Model.POHeader[0].VatPer;

                    foreach (var item in modelItems)
                    {
                        string uomText = item.PD_UOM;
                        if (item.PD_UOMCode == "1")
                        {
                            uomText = "Kg";
                        }
                        else if (item.PD_UOMCode == "2")
                        {
                            uomText = "Mtrs";
                        }
                        else if (item.PD_UOMCode == "3")
                        {
                            uomText = "Stk";
                        }
                        <tr>
                            <td>@item.SO_Serial</td>
                            <td style="text-align:right">@(Convert.ToDecimal(item.PD_Quantity).ToString("N2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                            <td>@uomText</td>
                            <td>@item.PD_ShortName</td>
                            <td>@item.DesignDetail</td>
                            <td>@item.CustomerDesc</td>
                            <td style="text-align:right;">@(Convert.ToDecimal(item.PD_UnitPrice).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                            <td style="text-align:right;">@((Convert.ToDecimal(item.PD_UnitPrice) * Convert.ToDecimal(item.PD_Quantity)).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                        </tr>
                        total = total + Convert.ToDecimal(item.PD_UnitPrice) * Convert.ToDecimal(item.PD_Quantity);
                        //i++;
                    }
                }
                @*<tr>
                    <td colspan="5">Gesamt Netto</td>
                    <td colspan="3" style="text-align:right;font-weight:bold;">@total.ToString("C2", CultureInfo.CreateSpecificCulture("de-DE"))</td>
                </tr>*@
                @*<tr>
                    <td colspan="5"><strong>@(Convert.ToDecimal(vatPerc).ToString("0"))</strong> % Vat</td>
                    <td colspan="3" style="text-align:right;font-weight:bold;">@(Convert.ToDecimal(total * vatPerc / 100).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                </tr>*@
                <tr>
                    <td colspan="5">Gesamt</td>
                    <td colspan="3" style="text-align:right;font-weight:bold;">@((Convert.ToDecimal(total)).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>

                    @*<td colspan="3" style="text-align:right;font-weight:bold;">@((Convert.ToDecimal(total + vatPerRatio).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE"))))</td>*@
                </tr>
            </tbody>
        </table>
        <table class='mediumtable'>
            <tr>
                <td>
                    <p>Zahlungsbedingungen: @Model.POHeader[0].PaymentTermsDescription</p>
                    <p>Delivery Terms: @Model.POHeader[0].Po_ShippingAddress</p>
                    <p>spezielle Anweisungen: @Model.POHeader[0].Po_SpecialInstruction</p>
                    <p>Geschäftsbedingungen: @Model.POHeader[0].Po_TermsandConditions</p>
                </td>
            </tr>
        </table>
        <br />

        <table class='mediumtable'>
            <tr>
                <td><span><label>Es gelten die Allgemeinen Geschäftsbedingungen (AGB) der Eurotextiles GmbH & Co. KG.</label></span></td>
            </tr>
            <tr>
                <td><span><label>Abweichungen von Qualität/Stückzahl der Ware müssen uns vor Benutzung, aber in jedem Fall innerhalb von 7 Tagen nach Erhalt der Ware, schriftlich mitgeteilt werden.</label></span></td>
            </tr>
            <tr>
                <td><span><label>Ware die bereits gewaschen oder benutzt wurde ist von der Reklamation ausgeschlossen.</label></span></td>
            </tr>
        </table>
        <hr style="font-weight:bold;border-top:1px solid black;">
        <table class='footertable' style="font-size: 10px;width: 100%;">
            <tr>
                <td>Eurotextiles GmbH & Co.KG</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Mammolshainer Weg 14</td>
                <td>HRA 3451</td>
                <td>Kompl. Indra Enterprises GmbH</td>
                <td>Bankverbindung</td>
            </tr>
            <tr>
                <td>61462 Konigstein im Taunus</td>
                <td>Amtsgericht Kongstein</td>
                <td>Geshafuher:Krishna Javaji</td>
                <td>Nassauische Sparkasse</td>
            </tr>
            <tr>
                <td>Fon +49 6174/25980</td>
                <td>Steuerrnummer 003 315 60117</td>
                <td>HRB 5137 Amtsgericht Konigstein</td>
                <td>IBAN :DE15 5105 0015 0270 0607 06</td>
            </tr>
            <tr>
                <td>HRA 3451</td>
                <td>USt-IdNr. DE279479010</td>
                <td>Steuernummer 003 236 16128</td>
                <td>SWIFT:-BIC NASSDE55XXX</td>
            </tr>
        </table>
    </div>
</div>
