@using System.Globalization;
@model BusinessEntity.CustomModels.OneToManyInvoiceView_CM
<div class="col-md-12" id="div_company_view">
    <div class="tile-body">
        <div name="form1" role="form" id="form1" data-parsley-validate>
            @foreach (var item in Model.objHeader)
            {
                <h5><label><strong>Invoice Details</strong></label></h5>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="Email">Invoice Code</label>
                        <input type="text" value="@item.OTMI_Code" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Url">Invoice Date</label>
                        <input type="text" value="@item.OTMI_InvoiceDate.ToString("dd-MM-yyyy")" class="form-control" disabled>
                    </div>
                </div>

                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="Digits">Shipment Code</label>
                        <input type="text" value="@item.Despatch_Code" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Numbers">Customer</label>
                        <input type="text" value="@item.COM_DISPLAYNAME" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="Digits">Sales Person</label>
                        <input type="text" value="@item.USER_NAME" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Digits">Order Amount</label>
                        <input type="text" style="text-align:right;" value="@(Convert.ToDecimal(item.SD_Quantity).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="Digits">Tax %</label>
                        <input type="text" style="text-align:right;" value="@(Convert.ToDecimal(item.OTMI_TaxPer).ToString("0"))" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Digits">Tax Amount</label>
                        <input type="text" style="text-align:right;" value="@(Convert.ToDecimal(item.OTMI_TaxAmount).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))" class="form-control" disabled>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-6">
                        <label for="Digits">Invoice Amount</label>
                        <input type="text" style="text-align:right;" value="@(Convert.ToDecimal(item.OTMI_InvoiceAmount).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))" class="form-control" disabled>
                    </div>
                </div>
            }
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Despatch Code</th>
                        <th>Article No</th>
                        <th>Product Name</th>
                        <th>UOM</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>

                </thead>
                <tbody>
                    @{ var itemIndex = 1;}
                    @foreach (var item in Model.objDetail)
                    {
                        <tr>
                            <td>@itemIndex</td>
                            <td>@item.Despatch_Code</td>
                            <td>@item.ArticleNo</td>
                            <td>@item.ProductName</td>
                            <td>@item.UOM</td>
                            <td style="text-align:center;">@(Convert.ToDecimal(item.SD_Quantity).ToString("N2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                            <td style="text-align:center;">@(Convert.ToDecimal(item.price).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                        </tr>
                        itemIndex++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>