@model IEnumerable<BusinessEntity.EntityModels.ET_TBL_LC_DETAILS>

<div class="tile-header dvd-btm">
    <h1 class="custom-font"><strong>Restore LC Details</strong> List</h1>
    <ul class="controls">
        <li style="padding:5px">
            <!-- function showRecords() is used for return back to view from the current page.ie it actually hide the other pages except view -->
            <a tabindex="0" onclick="showRecords();">
                <!-- This is used as a link for back -->
                <span class="btn btn-hotpink btn-xs mb-10">
                    <i class="fa fa-arrow-left"></i>Back
                </span>
            </a>
        </li>
    </ul>
</div>
<!-- /tile header -->
<!-- tile body -->
<div class="tile-body">
    <div class="row">
        <div class="col-md-6"><div id="tableToolsRestore"></div></div>
        <div class="col-md-6"><div id="colVisRestore"></div></div>
    </div>
    <!-- This table is used for displaying restore details.here user can able to delete or restore the records -->
    <table class="table table-custom" id="advancedusageRestore">
        <thead>
            <tr>
                <th>LC.No</th>
                <th>Customer</th>
                <th>LC Date</th>
                <th>Expiry Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LC_ID</td>
                <td>@item.CUST_ID</td>
                <td>@item.LC_DATE</td>
                <td>@item.LC_EXPIRYDATE</td>
                <td><a onclick="Restoredeleterecords(@item.LC_ID,this);" style="color:red"><i class="fa fa-undo"></i></a></td>
            </tr>
        }
    </table>
</div>
