
@{
    ViewBag.Title = "ET_Sales_OffertoOrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section angularcontroller
{
    <script src="~/Content/AngularScripts/AC_OffertoOrderDetails.js"></script>
}
<script type="text/javascript">
    function DiscountValidation(s)
    {
            try {

                var res = parseInt($(s).val());
                if (res.toString() == "NaN") {
                    toastr["error"]("Invalid Data", "Notification");
                    $(s).val("");
                }
                if (res > 99 || res < 0) {
                    toastr["error"]("Invalid Data", "Notification");
                    $(s).val("");
                }
            }
            catch (e) {
                toastr["error"]("Invalid Data", "Notification");
                $(s).val("");
            }
    }
    function DiscountValidations(s) {
        debugger;
        try {
            var re = /^[\d.]+(\,\d*)?$/;
            var txt = s.value;
            if (txt != "") {
                if (!re.test(txt)) {
                    toastr["error"]("Invalid Data", "Notification");
                    s.value = '';
                    return false;
                }
                else {

                }
            }

        }
        catch (e) {
            toastr["error"]("Invalid Data", "Notification");
            $(s).val("");
        }
    }
    function MoneyValidation(s) {

        var re = /^[\d.]+(\,\d*)?$/;
        var txt = s.value;
        if (txt != "") {
            if (!re.test(txt)) {
                toastr["error"]("Invalid Data", "Notification");
                s.value = '';
                return false;
            }
            else {
                s.value = parseFloat(txt.split('.').join("").replace(",", ".")).toLocaleString("es-ES", { minimumFractionDigits: 2 });
            }
        }
        return true;
    }
   function ChangeDetails(a) {
                var id = $(a).val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ProductDetails", "ET_Sales_OrderDetails")',
                    data: { id: id, priceType: $("#drpPriceType").val() },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        var res = JSON.parse(result);
                        var td = $(a).parent().parent().find("td");
                        $(td[1]).find("input").val(res[0].Description);
                        $(td[0]).find("p").text(id);
                        $(td[2]).find("input").val(res[0].P_PackingQuantityUOM);
                        $(td[7]).find("input").val(res[0].CustomerDef);
                        $(td[3]).find("input").val(res[0].price.toLocaleString("es-ES", { minimumFractionDigits: 2 }));
                        $(td[8]).find("input").prop('checked', false);
                        if (res[0].price == 0) {
                            if ($("#drpOrdertype").val() == "1")
                                toastr["error"]("No price for this product in Catalog. But you can apply an Offer Price.", "Notification");
                            else
                                toastr["error"]("No price for this product in Catalog.", "Notification");
                        }
                    },
                    error: function (response) {
                        toastr["error"]("Product Data Not Loading", "Notification");
                        var td = $(a).parent().parent().find("td");
                        $(td[0]).find("p").text("");
                    }
                });
            }
</script>
<script type="text/javascript">
        /* BEGIN EXTERNAL SOURCE */
        /* This function is used for window onload */
        function PrintPanel() {
            var panel = document.getElementById("div_PrintContent");
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Print the Sales Quotation</title>');
            printWindow.document.write('</head><body style="font-family:Arial">');
            //document.writeln(panel.innerHtml);
            printWindow.document.write(panel.innerHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            setTimeout(function () {
                printWindow.print();
            }, 500);
            return false;
        }
            function checkvalidate() {
                var tr = $("#Contactbody").find("tr");
                var txt = "";

                for (i = 0; i < tr.length; i++) {
                    var td = $(tr[i]).find("td");
                    var Shortname = $(td[0]).find("select").val();
                    if (Shortname == "0") {
                        message = "Choose Shortname:" + (i + 1);
                        toastr["error"](message, "Notification");
                        return "";
                    }
                    else {
                        txt = txt + $(td[0]).find("select").val();
                    }
                }
                return txt;
            };


        function checkoffer(a) {
            debugger;
            var id = $(a).attr("id");
            var tr = $(a).parent().parent();
            var td = tr.find("td");
            var Price = td[3].children;
            if ($(a).prop('checked')) {
                $('#' + id).prop('checked', false);
                var pid = id.split("_");
                var Sid = $("#drpSupplier").val();
                if ($("#drpOrdertype").val() == 1) {
                    if (Sid != 0) {
                        var Shortname = "";

                        Shortname = $(td[0].children).val();
                        if (Shortname == "0") {
                            message = "Choose Product";
                            toastr["error"](message, "Notification");
                        }
                        else {
                            if (Shortname != 0) {
                                var cusid = $("#drpCustomer").val();
                                if (cusid == "")
                                    cusid = "0";
                                $.ajax({
                                    type: "GET",
                                    url: '@Url.Action("ET_General_Order_SuplierProduct_Offer", "ET_Sales_OrderDetails")',
                                    dataType: 'json',
                                    data: {
                                        id: Sid,
                                        pid: Shortname,
                                        custid: cusid
                                    },
                                    contentType: "application/json;charset=utf-8",
                                    dataType: "html",
                                    success: function (result, textStatus, XMLHttpRequest) {
                                        debugger;
                                        if (result.indexOf("ERR") > -1) {
                                            $("#spanErrMessage1").html(result);
                                            $("#spanErrMessage2").html(result);
                                            if ($("#exceptionmessage").length)
                                                $("#exceptionmessage").trigger("click");
                                        }
                                        else {
                                            $('#checkpricepobup').html(result);
                                            $("#checkviewpopup").trigger("click");
                                            $("#chk_offerid").val(id);
                                            $("#chk_offerpriceid").val(Price[0].id);
                                        }

                                    },
                                    error: function (response) {
                                        toastr["error"]("Popup Not Loading", "Notification");
                                        $(Price).removeAttr('disabled');
                                        $('#' + id + '').prop('checked', false);
                                    }
                                });
                            }
                            else {
                                message = "Select Product Short name";
                                toastr["error"](message, "Notification");
                                $('#' + id + '').prop('checked', false);
                                $(Price).removeAttr('disabled');
                            }
                        }

                    }
                    else {
                        message = "Select Supplier";
                        toastr["error"](message, "Notification");
                        $('#' + id + '').prop('checked', false);
                        $(Price).removeAttr('disabled');
                    }
                }

                else {
                    message = "Only For Agency";
                    toastr["error"](message, "Notification");
                    $('#' + id + '').prop('checked', false);
                    $(Price).removeAttr('disabled');
                }
            }
            else {
                $('#' + id + '').prop('checked', false);
                $('#' + id + '').val("0");
                var prodID = $(td[0].children).val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ProductDetails", "ET_Sales_OrderDetails")',
                    data: { id: prodID },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        var res = JSON.parse(result);
                        $(td[3].children).val(res[0].price.toLocaleString("es-ES", { minimumFractionDigits: 2 }));
                        if (res[0].price == 0)
                            toastr["error"]("No price for this product in Catalog.", "Notification");
                    },
                    error: function (response) {
                        toastr["error"]("Product Data Not Loading", "Notification");
                    }
                });
            }
        }

        function Applyprice(offerid, f) {
            debugger;
            var tr = $(f).parent().parent();
            var td = tr.find("td");
            var price = td[4].innerText;
            var chkid = $("#chk_offerid").val();
            var priceid = $("#chk_offerpriceid").val();
            $("#" + chkid).val(offerid);
            $('#' + chkid).prop('checked', true);
            $("#" + priceid).val(price);
            $("#close_offerpopup").click();
        }

</script>
<!-- ====================================================
           ================= CONTENT ===============================
           ===================================================== -->
<!-- This section is used for displaying link menu on header bar-->
<section id="content">

    <div class="page page-shop-single-order" ng-controller="AC_OffertoOrderdetailsCtrl">

        <div class="pageheader">

            <h2>{{Type}} Order<span>@*You can place subtitle here*@</span></h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="../Home/Index"><i class="fa fa-home"></i> Indra</a>
                    </li>
                    <li>
                        <a href="#">Admin</a>
                    </li>
                    <li>
                        <a href="#">{{Type}} Order</a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">

                <!--The user can have a option to create and edit records-->
                <section class="tile" id="div_Edit" style="display:block">

                    <!-- tile header -->
                    <div class="tile-header dvd-btm">
                        <h1 class="custom-font"><strong>Create</strong> {{Type}} Order</h1>
                        <ul class="controls">
                            <li style="padding:5px">
                                <!-- function showRecords() is used for return back to view from the current page.ie it actually hide the other pages except view -->
                                <a tabindex="0" ng-click="showRecords();">
                                    <span class="btn btn-hotpink btn-xs mb-10">
                                        <i class="fa fa-arrow-left"></i> Back
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /tile header -->
                    <!-- tile body -->
                    <div class="tile-body">

                        <div name="form1" role="form" id="form1" data-parsley-validate>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="CustomerName">Sales Code</label>
                                    <input type="text" class="form-control" name="OrderCode" id="OrderCode" disabled="@ViewBag.AutoManual" @ViewBag.Required ng-model="OrderCode" />
                                    <input type="text" class="form-control hidden" name="OrderID" id="OrderID" ng-model="OrderID" />
                                    <input type="text" class="form-control hidden" name="chk_offerid" id="chk_offerid" />
                                    <input type="text" class="form-control hidden" name="chk_offerpriceid" id="chk_offerpriceid" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="drpType">Price Type</label>
                                    <select data-ng-model="SO_PriceType" id="drpPriceType" data-parsley-trigger="change" class="form-control chosen-select" ng-change="PriceTypeChange()">
                                        <option value="">--Select--</option>
                                        <option value="1">German Price</option>
                                        <option value="2">Euro Price</option>
                                        <option value="3">Exclusive Price 1</option>
                                        <option value="4">Exclusive Price 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="CustomerName">Sales Person*</label>
                                    <select class="form-control chosen-select" data-parsley-trigger="change" name="drpSalesperson" id="drpSalesperson" ng-model="SelectedSalesperson" ng-change="Salesgroup();" required>
                                        <option value="">-Select-</option>
                                        <option data-ng-repeat="st in Salesperson" value="{{st.USER_ID}}">{{st.USER_NAME}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="SupplierName">Sales Group</label>
                                    <input type="text" class="form-control" readonly="readonly" name="ORGNAMEText" id="ORGNAMEText" ng-model="ORGNAMEText" />
                                    <input type="text" class="form-control hidden" name="ORGIDValue" id="ORGIDValue" ng-model="ORGIDValue" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="CustomerDeliveryItems">Order Date *</label>
                                    <div class='input-group datepicker w-360' style="width:100%" data-format="DD-MM-YYYY">
                                        <input type='text' id="txtorderdate" name="txtorderdate" class="form-control" ng-model="txtorderdate" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Ordertype">Order Type *</label>
                                    <select class="form-control chosen-select" data-parsley-trigger="change" name="drpOrdertype" ng-model="SelectedOredertype" id="drpOrdertype" ng-change="changeOrdertyper();" disabled>
                                        <option value="">--Select--</option>
                                        <option value="1">Agency</option>
                                        <option value="2">Trading</option>
                                        <option value="3">Store</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><h3>Customer Details</h3></div>
                                <div class="form-group col-md-6">
                                    <label for="CustomerName">Customer Name *</label>
                                    <select class="form-control chosen-select" name="drpCustomer" id="drpCustomer" ng-model="SelectedCustomer" ng-change="Customerchange();" data-parsley-trigger="change" required>
                                        <option value="">-Select-</option>
                                        <option data-ng-repeat="st in CustomerList" value="{{st.COM_ID}}">{{st.COM_NAME}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="PONo">Customer PO No *</label>
                                    <input type="text" class="form-control" data-parsley-trigger="change" name="txtcusponumber" id="txtcusponumber" ng-model="txtcusponumber" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="PODate">Customer PO Date *</label>
                                    <div class='input-group datepicker w-360' style="width:100%" data-format="DD-MM-YYYY">
                                        <input type='text' id="cuspodate" name="cuspodate" class="form-control" ng-model="cuspodate" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden" id="supdetails">
                                <div class="col-md-12"><h3>Supplier Details</h3></div>
                                <div class="form-group col-md-6">
                                    <label for="SupplierName">Supplier Name *</label>
                                    <select tabindex="3" class="form-control chosen-select" name="drpSupplier" id="drpSupplier" ng-model="SelectedSupplier" ng-change="Supplierchange();">
                                        <option value="0">-Select-</option>
                                        <option data-ng-repeat="st in SupplierList" value="{{st.COM_ID}}">{{st.COM_NAME}}</option>
                                    </select>
                                </div>
                                <div class="hidden" id="Sub_name">
                                    <div class="form-group col-md-6">
                                        <label for="Email">Supplier SC No *</label>
                                        <input type="text" class="form-control" data-parsley-trigger="change" ng-model="txtsubscnumber" name="txtsubscnumber" id="txtsubscnumber" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="Url">Supplier SC Date *</label>
                                        <div class='input-group datepicker w-360' style="width:100%" data-format="DD-MM-YYYY">
                                            <input type='text' id="subscdate" name="subscdate" class="form-control" ng-model="subscdate" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3>General</h3>
                            <div class="row">
                                <div class="form-group col-md-6" id="Quote_No">
                                    <label for="CustomerName">Quotation No</label>
                                    <select class="form-control chosen-select" name="drpQuotationNo" id="drpQuotationNo" ng-model="SelectedQuotationNo" ng-change="QuotationChange();">
                                        <option value="0">-Select-</option>
                                        <option data-ng-repeat="Quotation in QuotationList" value="{{Quotation.Q_ID}}">{{Quotation.Q_Code}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6 hidden" id="commision">
                                    <label for="txtcommisionagy">Commision *</label>
                                    <input type="text" class="form-control" data-parsley-trigger="change" data-parsley-type="digits" maxlength="2" name="txtcommisionagy" id="txtcommisionagy" ng-model="txtcommisionagy" />
                                </div>
                                <div class="form-group col-md-6" id="Cus_currency">
                                    <label for="CustomerDeliveryItems">Currency *</label>
                                    <select class="form-control chosen-select" name="drpCusCurrency" data-ng-model="SelectedCusCurrency" id="drpCusCurrency" ng-change="CusCurrencyChange" data-parsley-trigger="change" required>
                                        <option value="">-Select-</option>
                                        <option data-ng-repeat="st in Currencylist" value="{{st.CURRENCY_ID}}">{{st.CURRENCY_CODE}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="CustomerDeliveryItems">Delivery Terms *</label>
                                    <input type="text" class="form-control" name="txtCusdeliveryterms" ng-disabled="isquotation" id="txtCusdeliveryterms" ng-model="txtCusdeliveryterms" data-parsley-trigger="change" required />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="CustomerPayment">Payment Terms *</label>
                                    <select tabindex="3" class="form-control chosen-select" ng-disabled="isquotation" name="drpCusPaymenttype" ng-model="SelectedCuspaymenttype" id="drpCusPaymenttype" ng-change="CusPymtchange();">
                                        <option value="">-Select-</option>
                                        <option data-ng-repeat="st in Cuspayment" value="{{st.PT_ID}}">{{st.PT_Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="remarks">Remarks </label>
                                    <input type="text" class="form-control" name="remarks" id="remarks" ng-model="remarks" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="remarks">Discount(%) </label>
                                    <input type="text" style="text-align:right;" maxlength="21" class="form-control" data-parsley-trigger="change" onchange="DiscountValidations(this);" name="discount" id="discount" ng-model="SO_Discount" />
                                </div>
                            </div>

                            <div class="tile-body">
                                <div class="table-responsive">
                                    <!-- This table is used for displaying data in the form of grid in the create/edit page-->
                                    <table class="table table-custom" id="grd_1">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th style="width:25%;">Short Name *</th>
                                                <th>UOM</th>
                                                <th>Packing UOM</th>
                                                <th>Price</th>
                                                <th>Quantity *</th>
                                                <th ng-if='istrading == true || isonetomany == true'>Discount</th>
                                                <th>Description</th>
                                                <th>Remarks</th>
                                                <th ng-if='istrading == true'>Design</th>
                                                <th ng-if='isaction == true'>Action</th>
                                                <th ng-if='isagency == true'>Is Offer</th>
                                                <th ng-if='isonetomany == true'>Stock Info</th>
                                            </tr>
                                        </thead>
                                        <tbody id="Contactbody"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /tile body -->
                    <!-- tile footer -->
                    <div class="tile-footer text-center bg-tr-black lter dvd dvd-top text-center  m-t-20">
                        <!-- SUBMIT BUTTON -->
                        <!-- Button used for submitting the record -->
                        <button type="submit" class="btn btn-success" id="formSubmit" ng-click="SubmitClick();" ng-bind="submittext">Submit</button>
                    </div>
                    <!-- /tile footer -->

                </section>
                <!--The user can have a option to restore-->


            </div>

        </div>

    </div>

</section>
@section anypopup
{
    <a id="checkviewpopup" data-toggle="modal" data-target="#checkpobup" data-options="splash-2 splash-ef-4"></a>
    <div class="modal splash fade" id="checkpobup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title custom-font red"><strong style="color:red">Offers</strong></h3>
                </div>
                <div class="tile-body" id="checkpricepobup">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-border" id="close_offerpopup" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


