@using System.Globalization;
@model BusinessEntity.CustomModels.OneToOneInvoiceView_CM
@{
    var zipCode = Model.objHeader[0].Zipcode;
    decimal? vatPercentage = 0;
    vatPercentage = Model.objHeader[0].VatPer;
}
<div>
    <input id="englishformat" style="display:none;" value="@Model.objHeader[0].OTOI_ID" />
    <table style="width:100%">
        <tr>
            <td style="text-align:left;width:30%;"></td>
            <td style="text-align:center;width:40%;">
                <img src="@Model.objHeader[0].imgurl" />
                @*<h1 style="font-size:20px;font-family:'Times New Roman';"><label><strong>@Model.objHeader[0].SysCompany</strong></label></h1>*@
            </td>
            <td style="text-align:left;width:30%;"></td>
        </tr>
    </table>
    <div id="tblprintpdf" style="width:100%;">
        <table style="width:100%;">
            <tr>
                <td style="text-align:center;"><h1 style="font-size:18px"><label><strong><u>One to One Invoice</u></strong></label></h1></td>
            </tr>
        </table>

        <table style="font-weight: 800;" class='generaltable'>
            <tr>
                <td><u>Eurotextiles GmbH & Co. KG, Mammolshainer Weg 14, 61462 Königstein</u></td>
            </tr>
            <tr>
                <td><strong>@Model.objHeader[0].OTOI_CompanyName</strong></td>
            </tr>
            <tr>
                <td>@Model.objHeader[0].Street,</td>
            </tr>
            <tr>
                <td>@Model.objHeader[0].CityState,</td>
            </tr>
            <tr>
                <td>@Model.objHeader[0].CountryZip.</td>
            </tr>

        </table>

        <table align="right" style="text-align:right" class='generaltable'>
            <tr>
                <td></td>
                <td></td>
                <td>Customer Code:</td>
                <td><strong>@Model.objHeader[0].CompanyCode</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Processed by:</td>
                <td><strong>@Model.objHeader[0].OTOI_SalesPerson</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Date:</td>
                <td><strong>@Model.objHeader[0].OTOI_InvoiceDate.ToString("dd-MM-yyyy")</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Customer OrderNo:</td>
                <td><strong>@Model.objHeader[0].popupOrderNo</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Orderconfirmation No:</td>
                <td><strong>@Model.objHeader[0].cusPONo</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Tax%:</td>
                <td><strong>@vatPercentage</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Tax Remarks:</td>
                <td><strong>@Model.objHeader[0].OTOI_TaxRemarks</strong></td>
            </tr>
        </table>


        <table style="width:100%;text-align:left;" class='generaltable'>
            <tr>
                <td><strong>Invoice No: @Model.objHeader[0].OTOI_Code</strong></td>
                <td></td>
            </tr>
        </table>

        <table border="1" style="width:100%;" align="center" class='generaltable'>
            <thead>
                <tr>
                    <th style="text-align:center"><strong>S.No</strong></th>
                    <th style="text-align:center" colspan="2"><strong>Quantity</strong></th>
                    <th style="text-align:center"><strong>Product Description</strong></th>
                    @*<th style="text-align:center"><strong>Design</strong></th>
                        <th style="text-align:center"><strong>Remarks</strong></th>*@
                    <th style="text-align:center"><strong>Price(€)</strong></th>
                    <th style="text-align:center"><strong>Discount(%)</strong></th>
                    <th style="text-align:center"><strong>Total(€)</strong></th>
                </tr>

            </thead>
            <tbody>
                @{int i = 1;
                    decimal total = 0;
                    decimal rowPrice = 0;
                    decimal discountAmt = 0;
                    decimal Amount = 0;
                    foreach (var item in Model.objDetail)
                    {
                        rowPrice = ((Convert.ToDecimal(item.Unit_Price) * Convert.ToDecimal(item.SD_Quantity)));
                        discountAmt = (rowPrice * Convert.ToDecimal(item.Discount) / 100);
                        Amount = rowPrice - discountAmt;
                        <tr>
                            <td>@i</td>
                            <td style="text-align:right">@(Convert.ToDecimal(item.SD_Quantity).ToString("N2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                            <td>@item.UOM</td>
                            <td>@item.Description<br />@item.DesignDetail<br />@item.CustomerDes</td>
                            @*<td>@item.DesignDetail</td>
                                <td>@item.CustomerDes</td>*@
                            <td style="text-align:right;">@(Convert.ToDecimal(item.Unit_Price).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                            <td style="text-align:right;">@(Convert.ToDecimal(item.Discount).ToString("N2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                            <td style="text-align:right;">@Amount.ToString("C2", CultureInfo.CreateSpecificCulture("de-DE"))</td>
                        </tr>
                        total = total + Amount;
                        i++;
                    }

                }
                <tr>
                    <td colspan="6">Net Value</td>
                    <td colspan="3" style="text-align:right;font-weight:bold;">@total.ToString("C2", CultureInfo.CreateSpecificCulture("de-DE"))</td>
                </tr>
                <tr>
                    <td colspan="6"><strong>@(Convert.ToDecimal(vatPercentage).ToString("0"))</strong>% Vat</td>
                    <td colspan="3" style="text-align:right;font-weight:bold;">@(Convert.ToDecimal(total * vatPercentage / 100).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                </tr>
                <tr>
                    <td colspan="6">Total</td>
                    <td colspan="3" style="text-align:right;font-weight:bold;">@((Convert.ToDecimal(total + ((total * vatPercentage / 100)))).ToString("C2", CultureInfo.CreateSpecificCulture("de-DE")))</td>
                </tr>
            </tbody>
        </table>

        <table class='mediumtable'>
            <tr>
                <td>
                    <p>Payment Terms :@Model.objHeader[0].PaymentTerms </p>
                    <p>Delivery Terms:@Model.objHeader[0].PaymentTermsDescription </p>
                </td>
            </tr>
        </table>

        @*<table style="width:100%;" class='generaltable'>
                <tr>
                    <td> <p>___________________________</p></td>
                    <td> <p>___________________________</p></td>
                </tr>
                <tr>
                    <td><strong>For @Model.objHeader[0].SysCompany</strong></td>
                    <td><strong>For @Model.objHeader[0].OTOI_CustomerName</strong></td>
                </tr>

            </table>*@<br />
        <table class='mediumtable'>
            <tr>
                <td><span><label>Our general terms of business apply</label></span></td>
            </tr>
            <tr>
                <td><span><label>Any general variation have to be notified to us before the goods but not than 7 days on receipt of the goods.</label></span></td>
            </tr>
            <tr>
                <td><span><label>No claims will be accepted after washing/using the goods.</label></span></td>
            </tr>
        </table>
        <hr style="font-weight:bold;border-top:1px solid black;">
        <table class='footertable'>
            <tr>
                <td>Eurotextiles GmbH & Co.KG</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Mammolshainer Weg 14</td>
                <td>HRA 3451</td>
                <td>Kompl. Indra Enterprises GmbH</td>
                <td>Bankverbindung</td>
            </tr>
            <tr>
                <td>61462 Konigstein im Taunus</td>
                <td>Amtsgericht Kongstein</td>
                <td>Geshafuher:Krishna Javaji</td>
                <td>Nassauische Sparkasse</td>
            </tr>
            <tr>
                <td>Fon +49 6174/25980</td>
                <td>Steuerrnummer 003 315 60117</td>
                <td>HRB 5137 Amtsgericht Konigstein</td>
                <td>IBAN :DE15 5105 0015 0270 0607 06</td>
            </tr>
            <tr>
                <td>HRA 3451</td>
                <td>USt-IdNr. DE279479010</td>
                <td>Steuernummer 003 236 16128</td>
                <td>SWIFT:-BIC NASSDE55XXX</td>
            </tr>
        </table>
    </div>
</div>



